name: gitleaks reusable

on:
  workflow_call:
    inputs:
      notify_user_list:
        description: "List of users to notify"
        required: false
        default: ""
        type: string
    secrets:
      GITLEAKS_LICENSE:
        required: true

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    env:
      GITLEAKS_NOTIFY_USER_LIST: ${{ inputs.notify_user_list }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
          GITLEAKS_NOTIFY_USER_LIST: ${{ env.GITLEAKS_NOTIFY_USER_LIST }}